body {
  margin: 0;
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: verdana;
}

#players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#players > img {
  margin: 24px;
  height: 32px;
}
