html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow: overlay;
}

#players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#players > img {
  margin: 12px;
  height: 32px;
  width: 32px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  filter: none; /* remove any possible conflicting filters*/
}

a:hover img {
  filter: brightness(0) saturate(100%) invert(61%) sepia(82%) saturate(1545%) hue-rotate(0deg) brightness(102%) contrast(111%);
 /* USE https://angel-rs.github.io/css-color-filter-generator for a diffrent color */
}

section {
  position: absolute;
  width: 100%;
  height: 100vh;
}

#section1 {
  background-image: url('s15_background3.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 2;
}

#section2 {
  background-image: url('s15_background2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  top: 100%;
  z-index: 1;
}

#section3 {
  background-image: url('s15_background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  top: 200%;
  z-index: 0;
}

section > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: verdana;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dddddd;
}
